:root{
    --cor-de-fundo:#e9cc8e;
    --branco:#ffffff;
    --laranja:#EB9800;
    --azul-degradê:linear-gradient(97.54deg,#002f52 35.49%, #326589 160.37%);
    --degrade:linear-gradiente(#05276e , #08142b);
    --fonte-principal:"poppins";
    --azul:#002f52;


}  

body{
    background-color: var(--cor-de-fundo);
    font-family:var(--fonte-principal);
}


